*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html,body{
height: 100%;
width: 100%;
}

#main{
  overflow: hidden;
    min-height: 140vh;
    
    position: relative;
     
 
}
#nav{
  overflow: hidden;
    position: absolute;
    height: 90px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.9;
}
#nav img{
    margin-top: 20px;
    height: 100px;
    width: 150px;
    padding-left: 50px;

}
#link{
 
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 30px; 
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
}

#link a{
text-transform: uppercase;
text-decoration: none;
font-weight: 600;
color: rgb(241, 170, 170);
}

 #nav button{
    margin-top: 20px;
    margin-right: 50px;
    height: 25px;
    width: 80px;
    text-transform: uppercase;
    font-weight: 800;
    background-color:transparent; 
    color: rgb(241, 170, 170);

 }
 #centre{

    z-index: -1;
margin-top: 0px;
    position: absolute;
    color: rgb(241, 170, 170);
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);

 }
 #centre video{

  position: absolute;
 display: flex;
 top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
 } 
 
 #centre h1{
   
  display: inline-block;
  font-size: 520px;
  transform: scale(0.5, 1.2);
    text-transform: uppercase;
  
    color: transparent;
   
    -webkit-text-stroke: 5px pink;
 }
 #centre img{
  position: absolute;
  height: 550px;
  width: 800px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
 }
  

 @media (max-width:600px) {
  #main{
    overflow: hidden;
      min-height: 120vh;
      
      position: relative;
       
   
  }
  #nav{
    overflow: hidden;
      position: absolute;
      height: 90px;
      width: 100%;
      background-color: black;
      display: flex;
      justify-content: space-between;
      align-items: center;
      opacity: 0.9;
  }
  #link{
    display: none;
  }
  #centre{
    overflow: hidden;
    min-height: 120vw;
    z-index: -1;

    position: absolute;
    color: rgb(241, 170, 170);
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);

 }

 
  #centre h1{
   margin-top: 200px;
    display: inline-block;
    font-size: 250px;
    transform: scale(0.5, 1.2);
      text-transform: uppercase;
    
      color: transparent;
     
      -webkit-text-stroke: 5px pink;
   }
   #centre img{
    position: absolute;
    height: 300px;
    width: 400px;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
   }
   #centre video{

    position: absolute;
   display: flex;
   top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
  
  
   }

 }